doctype html
html(lang="es")
    head
        title Gestor de clientes
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet")
        style
            include ../../public/css/styles.css
    body
        block header
        block content

        div(class="container" align="center")
            p(class="muted credit") Developed by https://github.com/MartinIbarra
    
    script(src="http://code.jquery.com/jquery.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script
        include ../../public/js/scripts.js